@charset 'UTF-8';

/*========= HEADER =========*/

.logo{
  height: 50px; width: 50px;
}

.nav_linklist{
  padding:15px 10px !important;
  border-right: dotted 2px;
}

.linklist_white{
  background: white;
}

.linklist_white > a{
  color:black;
}

.linklist_rightgray{
  background:rightgray;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: none !important;
    text-decoration-color: red !important;
}

.navbar-brand{
  padding:0;
}

#nav-content{
  padding:15px 0;
}

.navbar-fixed-bottom, .navbar-fixed-top {
  right:auto;
  left:auto;
}

/*========= end of HEADER =========*/